div.indexzero{
  min-height: 10px;
  width:  autovw;
  background: white;
  text-align: right;
}

div{
  color:black;
  vertical-align: center;
  font-family: Georgia;
}


body{
  background-image: url("../ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid gray;
  font-family: Georgia;

}

div.container{
  background-image: url("../ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


div.indextwo{
  min-height: 1vh;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: #D3D3D3;


}

.navBox{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid gray;
  z-index: 99999
}

li {
  display: inline;
  float: left;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: #99FF66
}

a {
  text-decoration: underline;
  font-size:30px;
}

a:hover {
  text-transform: uppercase;
  text-transform: full-width;
  text-align: center;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

.fa-linkedin{
  background: #007bb5;
  color: white;
}

.fa-youtube{
  background: #bb0000;
  color:white;
}

.fa-instagram{
  background: #125688;
  color: white;
}

p.paragraph-desc{
  color: black;
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

p{
  color: black;
  font-size: 30px;
}

h6{
  color: gray;
  fontsize:18px;
}

h2{
  color: black;
  font-family:'Noto Sans KR', sans-serif;
}

.img-bowl{
  width:80%;
    transition: width 2s;
}
.img-bowl:hover{
  width: 100%;
  transition: width 2s;
}

.img-house{
  width:80%;
    transition: width 2s;
}

.img-house:hover{
  width: 100%;
  transition: width 2s;
