body {
        background: white;
        font-family: Georgia;
  }

  div.indexzero{
    min-height: autovh;
    width:  autovw;
    background: white;
    text-align: right;
  }

  div.container{
    borer-top:dotted gray;
    border-bottom: dotted gray;
  }

  div.three{
    min-height: 1vh;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #D3D3D3;

  }



  .navBox{
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    display: inline;
  }

  li {
    float: left;
  }

  a {
    display: block;
    padding: 8px;
    background-color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  li a:hover {
    background-color: white;
      color: #99FF66
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook{
    background: #3B5998;
    color: white;
  }

  .fa-twitter{
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin{
    background: #007bb5;
    color: white;
  }

  .fa-youtube{
    background: #bb0000;
    color:white;
  }

  .fa-instagram{
    background: #125688;
    color: white;
  }


  a {
    color:#99FF99;
    text-decoration: underline;
    font-size:30px;
  }

  a:hover{

    text-transform: uppercase;
    text-transform: full-width;
    text-align: center;
  }


  div.one {
    min-height: autovh;
    width:  autovw;
    background: white;
    border-bottom:  dotted #99FF66;
    text-align: center;
  }

  a {
    color:#99FF99;
    text-decoration: underline;
    font-size:30px;
  }

  a:hover{
    text-decoration: line-through;
    text-transform: uppercase;
    text-transform: full-width;
    text-align: center;
  }

  h1{
    text-align: center:
    letter-spacing: 3px;
    font-size: 47px;
  }

  div.two{
    text-align: center;
    color: #99FF99;
  }

  h3{
    text-align: center;
    color: black;
  }

  input[type=text]{
    background-color: #99FF99;
    Border: solid 2px ;
    border-radius: 6px;
    width: 10%;
    padding: 5px 80px;
    margin-top: 2px;
  }




  input[type=submit]{
    background-color:#99FF99;
    Border: solid 2px white;
    border-radius: 6px;
    width: 10%;
    padding: 1px 10px;
    margin-top: 2px;

  }

  
  iframe {
    margin-left: 90px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 30px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
  }


.img-thermostat{
  display: block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
}

.img-lightbulb{
  display: block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
}

  .img-switch{
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: auto;
  }

.img-world{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
}
.img-cattle{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
}

.img-waste{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
}

.img-local{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
}
