body {
        background: #99FF66;
        font-family: Georgia;
  }

  div.one {
    min-height: autovh;
    width:  autovw;
    background: #99FF66;
    border-bottom:  dotted white;
    text-align: center;
  }

  a {
    color: white;
    text-decoration: underline;
    font-size:30px;
  }

  a:hover{
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: center;
  }

  h1{
    text-align: center:
    letter-spacing: 3px;
    font-size: 47px;
  }

  div.two{
    text-align: center;
    color: white;
  }

  h3{
    text-align: center;
    color: Blue;
  }

  input[type=text]{
    background-color: #99FF99;
    Border: solid 2px white;
    border-radius: 6px;
    width: 10%;
    padding: 5px 80px;
    margin-top: 2px;
  }


  input[type=submit]{
    background-color:#99FF99;
    Border: solid 2px white ;
    border-radius: 6px;
    width: 10%;
    padding: 1px 10px;
    margin-top: 2px;
  }


  iframe {
  margin-top: 20px;
  margin-bottom: 30px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
  }
